# Notion API Credentials
# Get your token from https://www.notion.so/my-integrations
NOTION_API_KEY=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

# The ID of your Notion Database
# Found in the URL of your database: https://www.notion.so/USERNAME/DATABASE_ID?v=...
NOTION_DATABASE_ID=2e03c54cfb72819caf2ec5997feba539
